/* styles.css */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/Echte-Belgische-Frieten.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    flex-direction: column; /* This ensures the column layout */
}

h1 {
    font-size: 10rem; /* Adjust the size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0; /* Remove margin to avoid extra space */
}

p {
    font-size: 1.5rem; /* Adjust the size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1rem; /* Add space between heading and paragraph */
}
