body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    color: #333;
}

.content {
    text-align: center;
    margin: 20px auto;
    max-width: 60%;
    font-size: 18px;
    color: #555;
}

.table-container {
    margin: 0 auto;
    width: 60%; /* This leaves 20% margin on each side */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

th.sorting, th.sorting_asc, th.sorting_desc {
    background-color: #e0e0e0;
}

img {
    max-width: 60px;
    height: auto;
}

label, select {
    margin-right: 10px;
    font-size: 16px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
